<template>
    <div class="p-4 flex row container">
        <destination v-for="(destination, index) in destinations"
                     :key="index"
                     :destination="destination"
                     class="mb-3 ml-lg-2"/>
    </div>
</template>

<script>
export default {
    name: 'DestinationList',

    props: {
        destinations: {
            type: Array,
            default: () => []
        }
    }
}
</script>
