<template>
    <div class="img-container">
        <img :src="destination.image.original_url"
             width="100%"
             height="250px">

        <span class="text-white font-weight-bolder bottom-right">
            {{ destination.name }}
        </span>
    </div>
</template>

<script>
export default {
    name: 'DestinationCard',

    props: {
        destination: {
            type: Object
        }
    }
}
</script>

<style scoped>
.img-container {
    position: relative;
    text-align: center;
    padding: 0 !important;
    color: white;
    width: 400px !important;
    min-height: 250px !important;
    max-height: 250px !important;
    overflow: hidden;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    left: 30px;
}

.img-container img {
    width: 100%;
    transform: scale(1.0);
    transition: transform 0.2s;
}

.img-container img:hover {
    transform: scale(1.5);
}
</style>
