<template>
    <component :is="type"
               v-bind="$attrs"/>
</template>

<script>
export default {
    components: {
        ListView: () => import('./DestinationListView.vue'),
        Carousel: () => import('./DestinationCarouselView.vue')
    },

    props: {
        type: {
            type: String,
            default: 'list-view'
        }
    },
}
</script>
