<template>
  <b-carousel id="carousel-1"
              v-model="slide"
              :interval="4000"
              controls
              indicators
              background="#fff"
              img-width="1024"
              img-height="200"
              class="h-75 img-container"
              style="text-shadow: 1px 1px 2px #333;"
              @sliding-start="onSlideStart"
              @sliding-end="onSlideEnd">
    <b-carousel-slide v-for="destination in destinations"
                      :caption="destination.name"
                      :img-src="destination.image.original_url"/>
  </b-carousel>
</template>

<script>
export default {
  name: 'DestinationCarouselView',

  props: {
    destinations: {
      type: Array,
      default: () => []
    }
  },

  data() {
    return {
      slide: 0,
      sliding: false
    }
  },

  methods: {
    onSlideStart(slide) {
      this.sliding = true
    },

    onSlideEnd(slide) {
      this.sliding = false
    }
  }
}
</script>
