<template>
    <div class="row justify-content-center">
        <destination-card v-for="(destination, index) in destinations"
                          :key="index"
                          :destination="destination"
                          class="ml-lg-2 col-lg-5 mt-1"/>
    </div>
</template>

<script>
import DestinationCard from "./DestinationCard";

export default {
    name: 'DestinationListView',

    components: {DestinationCard},

    props: {
        destinations: {
            type: Array,
            default: () => []
        }
    },
}
</script>
