<template>
    <b-card :img-src="destination.image.original_url"
            img-height="300px"
            img-width="auto"
            class="w-3">
        <b-card-body class="p-0">
            <div class="flex flex-column p-2 mt-1">
                <h6 class="overlay-text text-capitalize font-weight-bolder">{{ destination.name }}</h6>

                <p class="text-display text-truncate"
                   v-b-tooltip.hover
                   :title="destination.description"
                   v-text="destination.description || ''">
                </p>
            </div>
        </b-card-body>
    </b-card>
</template>

<script>
export default {
    name: 'Destination',

    props: {
        destination: {
            type: Object,
            default: () => {
            }
        },
    }
}
</script>

<style>
.w-3 {
    width: 33% !important;
}

.card-body {
    padding: 1px !important;
}
</style>
