<template>
  <div class="d-flex flex-column mt-1">
    <!--    <div class="d-flex justify-content-between">-->
    <!--      <b-form-input class="col-lg-7"-->
    <!--                    placeholder="Enter coupon code"-->
    <!--                    v-model="couponCode"/>-->

    <!--      <b-button class="col-lg-4"-->
    <!--                :variant="couponButton.color"-->
    <!--                v-text="couponButton.text"-->
    <!--                @click="applyCouponCode"/>-->
    <!--    </div>-->
    <!--    <hr>-->

    <div class="d-flex flex-column">
      <div class="d-flex items-center justify-content-between">
        <h6 class="font-weight-bold">Start Date</h6>
        <span>{{ pickupDate }}</span>
      </div>

      <div class="d-flex items-center justify-content-between mt-2">
        <h6 class="font-weight-bold">End Date</h6>
        <span>{{ dropDate }}</span>
      </div>

      <div class="d-flex items-center justify-content-between mt-2">
        <h6 class="font-weight-bold">Number of days</h6>
        <span>{{ diffInDays }}</span>
      </div>

      <hr>

      <div class="d-flex items-center justify-content-between mt-2 text-gray" v-if="discountId">
        <h5 class="font-weight-normal">Before</h5>
        <span class="text-decoration-line-through">Rs {{ totalAmount }}</span>
      </div>

      <div class="d-flex items-center justify-content-between mt-2 text-gray" v-if="discountId">
        <h5 class="font-weight-normal">New</h5>
        <span>Rs {{ discountedPrice }}</span>
      </div>

      <div class="d-flex items-center justify-content-between mt-5">
        <h5 class="font-weight-bold">Total</h5>
        <span>Rs {{ discountedPrice }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import { checkPrice, verifyCoupon } from '@/api/booking';

export default {
  props: {
    car: {
      type: Object,
    },

    pickupDate: {
      type: String,
      default: null
    },

    dropDate: {
      type: String,
      default: null
    }
  },

  data() {
    return {
      discountValue: 0,
      discountId: null,
      couponApplied: false,
      couponCode: null
    }
  },

  watch: {
    diffInDays() {
      this.checkPrice();
    }
  },

  computed: {
    /**
     * Get difference in days.
     *
     * @return {Number}
     */
    diffInDays() {
      return Math.round(moment(this.dropDate).diff(moment(this.pickupDate), 'hours') / 24);
    },

    /**
     * The total price for this
     * @returns {number}
     */
    totalAmount() {
      return this.car.price * this.diffInDays;
    },

    /**
     * The discount price.
     *
     * @return {Number}
     */
    discountedPrice() {
      return this.totalAmount * (1 - this.discountValue);
    },

    /**
     * The coupon button object.
     *
     * @return {Object}
     */
    couponButton() {
      return {
        text: this.couponApplied ? 'Cancel' : 'Apply',
        color: this.couponApplied ? 'danger' : 'primary'
      }
    }
  },

  methods: {
    /**
     * Check if price get a discount.
     *
     * @return {Promise<void>}
     */
    async checkPrice() {
      let {data: {is_valid, discount_id, value}} = await checkPrice({days: this.diffInDays});

      if (is_valid) {
        this.discountValue = value;
        this.discountId = discount_id;
      }
    },

    /**
     * Apply a coupon code.
     *
     * @return {Promise<void>}
     */
    async applyCouponCode() {
      if (this.couponApplied) {
        this.couponApplied = false;

        return;
      }

      if (!this.couponCode) {
        this.$swal.fire({
          icon: 'error',
          text: 'You need to enter a valid coupon code.'
        });

        return;
      }

      let {data: {is_valid, discount_id, value}} = await verifyCoupon({code: this.couponCode});

      if (!is_valid) {
        this.$swal.fire({
          icon: 'error',
          text: 'Coupon code either expired or is not valid.'
        });

        return;
      }

      this.discountId = discount_id;
      this.discountValue = value;
    },

    onBlur() {
      this.$refs.input.$el.focus();
    },
  },

  mounted() {
    this.checkPrice();
  }
}
</script>
