<template>
  <div
      class="
			d-flex
			flex-column
			text-left
			align-items-center
			justify-content-around
			p-4
			w-100
		"
  >
    <slot name="header">
      <h4 class="text-left text-dark font-weight-bolder w-100">
        Make Your Ride
      </h4>
      <span class="text-left text-dark w-100 my-2 opacity-50">
				Select a car from our collection.
			</span>
    </slot>

    <b-form @submit.prevent="onSubmit" :class="formClasses">
      <b-form-group
          label="Choose your transmission"
          :class="[
					'text-dark font-weight-medium text-uppercase',
					inline ? 'col-lg-4' : 'w-100',
				]"
      >
        <b-form-select
            v-model="transmission"
            :options="options"
            style="height: 40px"
        />
      </b-form-group>

      <b-form-group
          label="Choose your pickup time"
          :class="[
					'text-dark font-weight-medium text-uppercase',
					inline ? 'col-lg-4' : 'w-100',
				]"
      >
        <date-time-picker
            v-model="startDate"
            format="YYYY-MM-DD HH:mm"
            label="Your pickup date time"
            :min-date="yesterday"
            :class="{ 'mt-2': !inline, 'ml-1': inline }"
        />
      </b-form-group>

      <b-form-group
          label="Choose your drop time"
          :class="[
					'text-dark font-weight-medium text-uppercase',
					inline ? 'col-lg-4' : 'w-100',
				]"
      >
        <date-time-picker
            v-model="endDate"
            format="YYYY-MM-DD HH:mm"
            label="Your drop date time"
            :min-date="yesterday"
            :class="{ 'mt-2': !inline, 'ml-1': inline }"
        />
      </b-form-group>

      <b-overlay
          :show="hasAlreadyStartSearching"
          rounded
          opacity="0.6"
          spinner-small
          spinner-variant="primary"
          class="d-inline-block d-flex justify-content-center"
      >
        <b-button
            variant="primary"
            :class="{ 'mt-2 w-100': !inline, 'ml-1 mt-2': inline }"
            type="submit"
            :style="buttonStyle"
        >
          Search
        </b-button>
      </b-overlay>
    </b-form>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import DateTimePicker from "vue-ctk-date-time-picker";
import "vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css";

export default {
  name: "SearchCar",

  components: {
    DateTimePicker,
  },

  props: {
    start: {
      type: String,
    },

    end: {
      type: String,
    },

    selectedTransmission: {
      type: [Number, String],
      default: 1,
    },

    inline: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      startDate: null,
      endDate: null,
      transmission: 1,
      loading: false,
      hasAlreadyStartSearching: false,
      yesterday: new Date(new Date().setDate(new Date().getDate() - 1)),
      transmissions: [
        {
          id: 1,
          label: "All",
        },
        {
          id: 2,
          label: "Automatic",
        },
        {
          id: 3,
          label: "Manual",
        },
      ],
    };
  },

  watch: {
    startDate(value) {
      if (value !== null) {
        this.setEndDate();
      }
    },

    range() {
      this.onDataChange();
    },

    transmission() {
      this.onDataChange();
    },
  },

  computed: {
    /**
     * The transmissions options.
     *
     * @return  {Array}
     */
    options() {
      return this.transmissions.map((transmission) => ({
        value: transmission.id,
        text: transmission.label,
      }));
    },

    /**
     * Get difference in days.
     *
     * @return {Number}
     */
    diffInDays() {
      return moment(this.endDate).diff(moment(this.startDate), "days");
    },

    /**
     * The date range.
     *
     * @return {Object}
     */
    range() {
      return {
        start: this.startDate,
        end: this.endDate,
      };
    },

    /**
     * Classes to be used when inline is on.
     *
     * @return {String}
     */
    formClasses() {
      return this.inline
          ? "d-flex align-items-center justify-content-around w-100"
          : "w-100";
    },

    buttonStyle() {
      return this.inline ? {} : {height: "50px"};
    },
  },

  methods: {
    /**
     * Search for cars.
     */
    search() {
      if (this.startDate === null) {
        this.displayError({message: "You need a start date."});
        return;
      }

      if (this.endDate === null) {
        this.displayError({message: "You need an end date."});
        return;
      }

      if (this.diffInDays < 1) {
        this.displayError({
          message: "You need to book for at least 1 day.",
        });
        return;
      }

      this.$emit("search", {
        pickup_time: this.startDate,
        drop_time: this.endDate,
        transmission: this.transmission,
      });

      this.hasAlreadyStartSearching = true;
    },

    onSubmit() {
      this.hasAlreadyStartSearching = true;
      window.location.href = `/cars/search?transmission=${this.transmission}&pickup_time=${this.startDate}&drop_time=${this.endDate}`;
    },

    /**
     * Set the end time to 1 day, when user selects a start date.
     */
    setEndDate() {
      this.endDate = moment(this.startDate)
          .add(1, "d")
          .format("YYYY-MM-DD HH:mm");
    },

    /**
     * Display the toast.
     *
     * @param {String} title
     * @param {String} message
     */
    displayError({title = `Missing Fields`, message}) {
      this.$bvToast.toast(message, {
        title,
        autoHideDelay: 3000,
        variant: "danger",
        toaster: "b-toaster-bottom-right",
      });
    },

    /**
     * When data changes, search for cars.
     */
    onDataChange() {
      if (this.hasAlreadyStartSearching) {
        this.search();
      }
    },
  },

  created() {
    if (this.start) {
      this.startDate = this.start;
    }

    if (this.end) {
      this.endDate = this.end;
    }

    if (this.selectedTransmission) {
      this.transmission = this.selectedTransmission;
    }
  },
};
</script>

<style lang="scss">
@media (min-width: 1024px) {
  .container-width {
    width: 40% !important;
  }
}

@media (min-width: 400px) {
  .container-width {
    width: 100%;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.opacity-50 {
  opacity: 70%;
}
</style>
