@import '~vue2-animate/dist/vue2-animate.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
body,
html {
    height: 100%;
    font-family: Poppins, sans-serif;
}

h2 {
    color: #565a5c;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-family: Poppins, sans-serif;
}

.single-footer-txt p {
    margin-bottom: 8px;
}

.single-footer-txt p a {
    color: #565a5c;
    font-size: 16px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-transform: capitalize;
}

.single-footer-txt p a:hover {
    -webkit-transition: scaleX(1.2);
    -moz-transition: scaleX(1.2);
    -ms-transition: scaleX(1.2);
    -o-transition: scaleX(1.2);
    transform: scaleX(1.2);
    color: #00d8ff;
}

footer {
    width: 100%;
    position: absolute;
}

.z-max {
    z-index: 9999 !important;
}

.text-display {
    color: #666666;
}

.btn-color-secondary {
    background-color: #34DAFA;
}

@media only screen and (max-width: 600px) {
    .centered-text {
        top: 15% !important;
        max-width: 100% !important;
    }
    #services {
        margin-top: 450px !important;
    }
}

@media only screen and (min-width: 1024px) {
    .centered-text {
        top: 15% !important;
        max-width: 100% !important;
        color: #fff !important;
        width: 80%;
    }
}

@media only screen and (min-width: 1600px) {
    .centered-text {
        top: 15% !important;
        max-width: 100% !important;
        color: #fff !important;
        width: 60%;
    }
}

.div-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered-text {
    position: absolute;
    top: 15%;
    max-width: 50%;
    color: #fff;
}

.img-container {
    background-color: #33dafa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
}