<template>
  <v-select
      v-model="selectedAddress"
      :placeholder="label"
      :options="addresses"
      :loading="isSearching"
      :dropdown-should-open="shouldDropdownOpen"
      clear-search-on-select
      close-on-select
      clearable
      @search="onSearch"
      @close="onClose"
  />
</template>

<script>
import vSelect from "vue-select";
import {search} from "@/api/address";

export default {
  name: "AddressSearch",

  components: {vSelect},

  props: {
    value: {},

    label: {
      type: String,
      default: "Search an address.",
    },
  },

  data: () => ({
    timer: null,
    addresses: [],
    selectedAddress: null,
    isSearching: false,
    dropdownShouldOpen: false,
  }),

  watch: {
    selectedAddress(value) {
      this.$emit("input", value);
    },
  },

  methods: {
    /**
     * Should the dropdown be opened.
     *
     * @param VueSelect
     */
    shouldDropdownOpen(VueSelect) {
      return this.dropdownShouldOpen;
    },

    /**
     * When user selects an address.
     *
     * @param {Object} address
     */
    onAddressSelected(address) {
      this.selectedAddress = address.label;

      this.$emit("input", this.selectedAddress);
    },

    /**
     * Searching for an address.
     *
     * @param {String} value
     */
    onSearch(value) {
      clearTimeout(this.timer);

      if (value.trim().length > 0) {
        this.timer = setTimeout(async () => {
          this.isSearching = true;
          this.addresses = [];
          let {data} = await search(value);

          this.addresses = data;

          this.dropdownShouldOpen = this.addresses.length > 0;
          this.isSearching = false;
        }, 500);
      }
    },

    /**
     * When user closes the dropdown.
     */
    onClose() {
      this.dropdownShouldOpen = false;
    },
  },
};
</script>

<style lang="scss">
@import "vue-select/src/scss/vue-select.scss";

#__BVID__27__BV_toggle_ {
  padding: 0;
}
</style>
