<template>
  <date-time-picker :min-date="yesterday"
                    format="YYYY-MM-DD HH:mm"
                    v-bind="$attrs"
                    :value="value"
                    @input="onInput"/>
</template>

<script>
import DateTimePicker from "vue-ctk-date-time-picker";
import "vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css";

export default {
  name: "DatePicker",

  components: {DateTimePicker},

  props: {
    value: {},
  },

  data: () => ({
    yesterday: new Date(new Date().setDate(new Date().getDate() - 1))
  }),

  methods: {
    onInput(value) {
      this.$emit("input", value);
    },
  },
};
</script>

<style lang="scss">
@media (min-width: 1024px) {
  .container-width {
    width: 20% !important;
  }
}

@media (min-width: 400px) {
  .container-width {
    width: 100%;
  }
}
</style>
