<template>
    <div class="row align-items-center w-100">
        <date-time-picker v-model="startDate"
                          format="YYYY-MM-DD HH:mm"
                          label="Pickup Date"
                          :class="[col, classNames]"/>

        <date-time-picker v-model="endDate"
                          format="YYYY-MM-DD HH:mm"
                          label="Drop Date"
                          :class="[col, classNames]"/>
    </div>
</template>

<script>
import moment from 'moment';
import DateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

export default {
    name: 'DateRangePicker',

    components: {
        DateTimePicker
    },

    props: {
        col: {
            type: String,
            default: 'col-4'
        },

        classNames: {
            type: String,
            default: 'mt-2 mt-md-0'
        }
    },

    data: () => ({
        startDate: null,
        endDate: null
    }),

    watch: {
        startDate(value) {
            if (value !== null) {
                this.setEndDate();
            }
        }
    },

    methods: {
        /**
         * Set the end time to 1 day, when user selects a start date.
         */
        setEndDate() {
            this.endDate = moment(this.startDate).add(1, 'd').format('YYYY-MM-DD HH:mm');
        },
    }
}
</script>
