<template>
  <b-form class="d-flex flex-column">
    <div class="d-flex flex-column w-100 mt-5">
      <h3 class="font-weight-bolder text-center">
        Please rate your experience
      </h3>
      <b-form-rating no-border v-model="form.ratings" size="lg" />
    </div>

    <b-form-group label="Do you have any suggestions ?" class="mt-5">
      <b-form-textarea
        id="textarea"
        v-model="form.feedback"
        rows="3"
        max-rows="6"
      />
    </b-form-group>

    <b-overlay
      :show="isSubmitting"
      rounded
      opacity="0.6"
      spinner-small
      spinner-variant="primary"
      class="d-inline-block d-flex justify-content-center"
    >
      <b-button @click="onSubmit" class="col-4" variant="primary">
        Submit
      </b-button>
    </b-overlay>
  </b-form>
</template>

<script>
import { submit } from "@/api/feedback";

export default {
  name: "Feedback",

  props: {
    booking: {
      type: String,
    },
  },

  data: () => ({
    form: {
      ratings: null,
      feedback: null,
    },
    isSubmitting: false,
  }),

  methods: {
    /**
     * Submit feedback.
     *
     * @return {Promise<void>}
     */
    async onSubmit() {
      this.isSubmitting = true;

      let {
        data: { completed, message },
      } = await submit({ ...this.form, ...{ booking: this.booking } });

      this.isSubmitting = false;

      if (completed) {
        this.$swal.fire({
          title: "Success!",
          text: message,
          icon: "success",
          confirmButtonText: "Done",
        });

        window.close();
      }
    },
  },
};
</script>
