<template>
  <div class="d-flex align-items-center">
    <img :src="imageSrc" :style="imageStyle"/>

    <span v-text="text" :class="['ml-2', textClasses]"/>
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String
    },

    text: {
      type: [String, Number]
    },

    textClasses: {
      type: String
    },

    imageStyle: {
      type: Object,
      default: () => ({
        width: '1rem',
        height: '1rem'
      })
    }
  },

  computed: {
    imageSrc() {
      return `/images/${this.src}`;
    }
  }
}
</script>
