<template>
    <div class="top-row fixed-top w-100 z-index">
        <b-navbar toggleable="lg"
                  sticky
                  :type="navbar.type"
                  :variant="navbar.variant"
                  fixed="top">
            <div class="container">
                <b-navbar-brand href="/">
                    <img :src="logoSrc"
                         alt="RgCarRental"
                         height="auto"
                         width="200px">
                </b-navbar-brand>

                <b-navbar-toggle target="nav-collapse">
                    <template #default="{ expanded }">
                        <b-icon :icon="expanded ? 'x' : 'list'"
                                class="text-white font-weight-bolder"
                                @click="navbarCollapsed = !expanded"/>
                    </template>
                </b-navbar-toggle>

                <b-collapse id="nav-collapse"
                            is-nav
                            v-if="isOnHomePage">
                    <b-navbar-nav class="ml-auto align-items-center">
                        <b-nav-item href="#services">
                            <b-nav-text class="text-white font-weight-bold text-uppercase">Services</b-nav-text>
                        </b-nav-item>

                        <b-nav-item href="#destinations">
                            <b-nav-text class="text-white font-weight-bold text-uppercase">Destinations</b-nav-text>
                        </b-nav-item>

                        <b-nav-item href="#cars">
                            <b-nav-text class="text-white font-weight-bold text-uppercase">Cars</b-nav-text>
                        </b-nav-item>
                    </b-navbar-nav>
                </b-collapse>
            </div>
        </b-navbar>
    </div>
</template>

<script>
export default {
    name: "Navbar",

    props: {
        rentACar: {
            type: String
        },

        isOnHomePage: {
            type: [Boolean, Number],
            default: false
        },

        logoSrc: {
            type: String,
        }
    },

    data: () => ({
        topOfPage: true,
        navbarCollapsed: false
    }),

    computed: {
        navbar() {
            if (!this.isOnHomePage || !this.topOfPage || this.navbarCollapsed) {
                return {
                    type: 'dark',
                    variant: 'dark'
                }
            }

            return {
                type: '',
                variant: ''
            }
        }
    },


    methods: {
        /**
         * Handle user scroll.
         */
        handleScroll() {
            this.topOfPage = !window.pageYOffset > 0;
        }
    },

    created() {
        window.addEventListener('scroll', this.handleScroll);
    }
}
</script>

<style>
.z-navbar {
    z-index: 500;
}
</style>
