<template>
    <section class="p-2 pt-3 text-center"
             :style="styles">
        <h4 class="text-center text-uppercase text-info">{{ title }}</h4>
        <p class="text-center pt-2">{{ description }}</p>

        <div class="container">
            <slot/>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PageSection',

    props: {
        title: {
            type: String
        },

        description: {
            type: String
        },
        styles: {
            type: [Array, String]
        }
    }
}
</script>

<style>
p {
    color: #666666;
    font-size: 14px;
}
</style>
