<template>
  <div class="d-flex flex-md-row flex-column align-items-center justify-content-around p-2">
    <service v-for="(service, index) in services"
             :key="index"
             class="p-2 col-lg-4 col-12"
             :service="service"/>
  </div>
</template>

<script>
export default {
  name: "Services",

  props: {
    services: {
      type: Array
    }
  }
}
</script>
