<template>
  <div class="d-flex flex-column align-items-center">
    <img :src="service.image.original_url" width="100px" height="100px"/>

    <h5 class="text-center">{{ service.name }}</h5>

    <p class="text-center">{{ service.description }}</p>
  </div>
</template>

<script>
export default {
  name: "Service",

  props: {
    service: {
      type: Object
    }
  }
}
</script>
