<template>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
        <img src="/images/success.svg" width="30%"/>

        <span class="font-weight-bold" style="font-size: 24px;">Your Booking Has Been Placed</span>

        <p class="font-weight-normal">An admin will contact you to confirm your booking.</p>

        <b-link variant="info" href="/">Main Website</b-link>
    </div>
</template>

<script>
export default {
    name: "Success",

    props: {
        booking: {
            type: String
        }
    }
}
</script>
