<template>
  <b-form-input v-bind="$attrs"
                v-on="$listeners"
                @blur="onBlur"
                :ref="ref"
                :value="value"
                @input="onInput"/>
</template>

<script>
export default {
  name: "TextInput",

  props: {
    value: {}
  },

  data() {
    return {
      ref: new Date().getTime() + Math.floor(Math.random() * 100) + 1
    }
  },

  methods: {
    onBlur() {
      this.$refs[this.ref].$el.focus();
    },

    onInput(e) {
      this.$emit('input', e);
    }
  },
}
</script>