<template>
  <b-card class="p-3"
          :class="isSelected ? 'shadow-lg' : 'shadow-sm'"
          :img-src="car.thumbnail.conversion_urls.sm"
          img-width="400px"
          img-height="200px"
          img-top>

    <div class="font-weight-bolder mb-2 w-100 text-left" style="font-size: 20px;">
      <span>{{ car.name }}</span>
    </div>

    <div class="d-flex align-items-center justify-content-between">
      <b-form-rating :value="3"
                     variant="info"
                     class="mb-2 col-lg-2 p-0"
                     size="sm"
                     readonly
                     no-border/>

      <span class="text-black-50" style="font-size: 14px; font-weight: 600;">
                Rs {{ car.price }} / {{ car.car_rate }}
      </span>
    </div>

    <hr/>

    <div class="d-flex align-items-center justify-content-between p-1 pt-2">
      <icon src="engine.svg" :text="car.car_cc"/>
      <icon src="gearshift.svg" :text="car.car_transmission"/>
      <icon src="color.svg" :text="car.color"/>
      <icon src="car-seat.svg" :text="car.max_seats"/>
    </div>

    <div class="d-flex align-items-center justify-content-end mt-3">
      <b-button :variant="isSelected ? 'success' : 'primary'"
                @click="$emit('selected', car)">
        {{ isSelected ? selectedText : buttonText }}
      </b-button>
    </div>
  </b-card>
</template>

<script>
import Icon from '../Icon.vue';

export default {
  components: {
    Icon
  },

  props: {
    car: {
      type: Object
    },

    isSelected: {
      type: Boolean,
      default: false
    },

    buttonText: {
      type: String,
      default: 'Book Now'
    },

    selectedText: {
      type: String,
      default: 'Booked'
    }
  }
}
</script>

<style scoped>
.card-header {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: white !important;
}
</style>
