<template>
  <b-carousel v-model="slide"
              controls
              no-animation
              img-width="776"
              img-height="476"
              style="height: 300px;">
    <b-carousel-slide v-for="(url, index) in images"
                      :key="index">
      <template #img>
        <img class="d-block img-fluid w-100"
             width="776px"
             height="300px"
             :src="url"
             style="height: 300px !important;"
             alt="car">
      </template>
    </b-carousel-slide>
  </b-carousel>
</template>

<script>
export default {
  name: 'Carousel',

  props: {
    medias: {
      type: Object,
      default: () => []
    }
  },

  data() {
    return {
      slide: 0,
    }
  },

  computed: {
    images() {
      return Object.values(this.medias)
    }
  },
}
</script>

<style>
.carousel > .carousel-control-prev {
  background-color: black !important;
  opacity: 0.4 !important;
}

.carousel > .carousel-control-next {
  background-color: black !important;
  opacity: 0.4 !important;
}
</style>