<template>
  <div v-if="!hasCars">
    No car available.
  </div>

  <div v-else class="row justify-content-center flex-nowrap">
    <car-card v-for="(car, index) in cars"
              :key="index"
              :car="car"
              class="col-lg-4 mr-2"
              @selected="onSelected"/>
  </div>
</template>

<script>
export default {
  name: 'List',

  props: {
    cars: {
      type: Array,
      default: () => []
    },

    params: {
      type: Object,
      default: () => {
      }
    }
  },

  computed: {
    /**
     * Will tell us if there are available cars.
     *
     * @return {Boolean}
     */
    hasCars() {
      return this.cars.length > 0;
    },

    /**
     * Will tell us if there are params available.
     *
     * @return {Boolean}
     */
    hasParams() {
      return this.params && Object.keys(this.params).length > 0;
    }
  },

  methods: {
    onSelected(car) {
      if (!this.hasParams) {
        window.open(`/cars/${car.slug}`);

        return;
      }

      window.open(`/cars/${car.slug}?${new URLSearchParams(this.params).toString()}`)
    }
  }
}
</script>
