<template>
    <div class="pb-3 lit-form lit-form-item-transmission">
        <b-form-file v-model="image"
                     class="mb-2"
                     placeholder="Add website hero image."
                     drop-placeholder="Drop file here..."
                     @input="renderImage"/>

        <img v-if="image"
             :src="imageSrc"
             alt="Upload Photo"
             width="100%"
             height="50%">
    </div>
</template>

<script>
export default {
    name: "WebsiteConfiguration",

    data() {
        return {
            image: null,
            imageSrc: ''
        }
    },

    methods: {
        renderImage(file) {
            this.imageSrc = window.URL.createObjectURL(file)
        }
    }
}
</script>
