<template>
  <div class="d-flex flex-lg-row flex-column col-12">
    <rent v-bind="$attrs"
          :class="{'col-lg-8 col-12' : hasBookingDetails}"
          @form-updated="onFormUpdated"/>

    <invoice v-if="hasBookingDetails"
             :car="car"
             :pickup-date="bookingDetails.pickup_time"
             :drop-date="bookingDetails.drop_time"
             class="col-lg-4 col-12 border h-50 p-2"
             style="bottom: 0"/>
  </div>
</template>

<script>
import { isEmpty } from 'lodash';

export default {
  props: {
    car: Object
  },

  data() {
    return {
      showInvoice: false,
      bookingDetails: {}
    }
  },

  computed: {
    /**
     * Will tell us if their are dates available.
     *
     * @return {Boolean}
     */
    hasBookingDetails() {
      return !isEmpty(this.bookingDetails.drop_time) && !isEmpty(this.bookingDetails.pickup_time);
    }
  },

  methods: {
    onFormUpdated({drop_time, pickup_time}) {
      console.log({drop_time, pickup_time})
      this.bookingDetails = {drop_time, pickup_time};
    }
  }
}
</script>