<template>
  <div>
    <div class="
				d-flex
				flex-lg-row flex-column
				align-items-center
				justify-content-between
			"
    >
      <b-form-group
        label="Title *"
        class="
					text-dark
					font-weight-medium
					text-uppercase
					col-sm-12 col-lg-3
					p-0
				"
      >
        <b-form-select
          v-model="form.title"
          style="height: 45px"
          :options="titles"
          text-field="label"
          value-field="value"
          class="mt-2"
        />
      </b-form-group>

      <b-form-group
        label="First Name *"
        class="
					w-100
					text-dark
					col-sm-12 col-lg-4
					font-weight-medium
					text-uppercase
					p-0
				"
      >
        <b-form-input
          key="input-1"
          v-model="form.first_name"
          placeholder="John"
          class="col-sm-12 col-lg-12 mt-2"
          style="height: 40px"
        />
      </b-form-group>

      <b-form-group
        label="Last Name *"
        class="
					w-100
					text-dark
					col-sm-12 col-lg-4
					font-weight-medium
					text-uppercase
					p-0
				"
      >
        <b-form-input
          key="input-2"
          v-model="form.last_name"
          placeholder="Doe"
          class="col-sm-12 col-lg-12 mt-2"
          style="height: 40px"
        />
      </b-form-group>
    </div>

    <b-form-group
      label="Email"
      class="w-100 text-dark font-weight-medium text-uppercase"
    >
      <b-form-input
        key="input-3"
        v-model="form.email"
        placeholder="john@doe.com"
        class="col-sm-12 mt-2"
        style="height: 40px"
      />
    </b-form-group>

    <b-form-group
      label="Phone Number *"
      class="w-100 text-dark font-weight-medium text-uppercase"
    >
      <b-form-input
        key="input-4"
        v-model="form.phone_number"
        class="col-sm-12 mt-2"
        placeholder="+230 1232 4333"
        style="height: 40px"
      />
    </b-form-group>

    <b-form-group
      label="Pick Up Address *"
      class="w-100 text-dark font-weight-medium text-uppercase"
    >
      <address-search
        class="col-sm-12 mt-2 p-0"
        v-model="form.pickup_address"
        style="height: 40px"
        label="Pickup Address *"
      />
    </b-form-group>

    <b-form-group
      label="Drop Address *"
      class="w-100 text-dark font-weight-medium text-uppercase"
    >
      <b-form-checkbox v-model="sameAsPickup">
        Same as pickup address.
      </b-form-checkbox>

      <address-search v-if="!sameAsPickup"
                      class="col-sm-12 mt-2 p-0"
                      v-model="form.drop_address"
                      style="height: 40px"
                      label="Drop Address *"
      />
    </b-form-group>

    <b-form-group
      label="Pick Up Time *"
      class="w-100 text-dark font-weight-medium text-uppercase"
    >
      <date-picker v-model="form.pickup_time"/>
    </b-form-group>

    <b-form-group
      v-if="enableDropTime"
      label="Drop Time *"
      class="w-100 text-dark font-weight-medium text-uppercase"
    >
      <date-picker v-model="form.drop_time"/>
    </b-form-group>
  </div>
</template>

<script>
import { has, isNull, capitalize } from "lodash";
import { taxi } from "@/actions";

export default {
  name: "FormBooking",

  props: {
    enableDropTime: {
      type: Boolean,
      default: false
    },

    values: {
      type: Object,
      default: () => {
      }
    },
  },

  data: () => ({
    isCreating: false,
    form: {
      title: null,
      first_name: null,
      last_name: null,
      email: null,
      phone_number: null,
      pickup_address: null,
      drop_address: null,
      pickup_time: null,
      drop_time: null
    },
    titles: [
      {label: "Mr", value: 1},
      {label: "Mrs", value: 2},
      {label: "Miss", value: 3},
    ],
    sameAsPickup: true,
    fieldsRequired: [
      "title",
      "first_name",
      "last_name",
      "phone_number",
      "pickup_time",
    ],
  }),

  watch: {
    form: {
      deep: true,
      handler(value) {
        console.log('changed')
        this.$emit('form-updated', value)
      }
    },
  },

  computed: {
    requiredFields() {
      return [...this.fieldsRequired, ...[this.enableDropTime ? 'drop_time' : '']]
    }
  },

  methods: {
    /**
     * Create new taxi booking.
     *
     * @param form
     *
     * @return {Promise<void>}
     */
    async onConfirm(form) {
      this.isCreating = true;
      let {
        data: {booked, booking},
      } = await taxi(form).catch(() => {
        this.$swal.fire({
          title: "Error!",
          text: "An error occurred",
          icon: "error",
          confirmButtonText: "Cool",
        });

        this.isCreating = false;
      });

      if (booked) {
        this.$swal.fire({
          title: "Yaay!",
          text: `Your booking has been placed. An admin will contact you to complete your booking.`,
          icon: "success",
          confirmButtonText: "Done",
        });
      }

      this.isCreating = false;
    },

    /**
     * Validate the booking form.
     */
    validate() {
      let emptyFields = this.requiredFields.filter(
        (field) => has(this.form, field) && isNull(this.form[field])
      );

      if (emptyFields.length > 0) {
        this.$swal.fire({
          title: "Error!",
          html: `The field <strong>
					${ this.normalCase(emptyFields[0]) }
					</strong> is needed`,
          icon: "error",
          confirmButtonText: "Ok",
        });
      }

      return !(emptyFields.length > 0);
    },

    /**
     * Retrieve the form details.
     *
     * @return {Object}
     */
    data() {
      let {
        title,
        first_name,
        last_name,
        email,
        phone_number,
        pickup_address,
        drop_address,
        pickup_time,
        drop_time
      } = this.form;

      return {
        user: {
          title,
          first_name,
          last_name,
          phone_number,
          email,
        },
        other: {
          pickup_address,
          drop_address: this.sameAsPickup ? pickup_address : drop_address,
          pickup_time,
          drop_time: this.enableDropTime ? this.drop_time : null
        },
      };
    },

    /**
     * Convert to normal case.
     *
     * @param {String} field
     */
    normalCase(field) {
      return capitalize(field.replace("_", " "));
    },
  },

  mounted() {
    this.form = {...this.form, ...this.values}
  }
};
</script>

<style lang="scss">
@media only screen and (max-width: 600px) {
  .tab-container {
    width: 80% !important;
  }
}

.tab-container {
  width: 100% !important;
}
</style>
