<template>
  <div class="d-flex flex-column w-100">
    <p>
      After your booking is placed, an admin will contact you to confirm
      the booking and price.
    </p>

    <div class="bg-white shadow-sm p-2 mt-2 rounded">
      <b-form>
        <b-form-group
          label="Flight Number"
          class="text-dark font-weight-medium text-uppercase mb-2"
        >
          <b-form-input
            v-model="flight_number"
            class="col-sm-12 mt-2"
            style="height: 40px"
          />
        </b-form-group>
      </b-form>
    </div>

    <form-booking ref="bookingForm"
                  :values="theParams"
                  @form-updated="onFormUpdated"
                  class="shadow-sm p-2 rounded mt-3"
                  enable-drop-time/>

    <div class="w-100 mt-2">
      <b-overlay
          :show="isCreating"
          rounded
          opacity="0.6"
          spinner-small
          spinner-variant="primary"
          class="d-inline-block float-right"
      >
        <b-button @click="startCreation" variant="primary"> Book</b-button>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import { rent } from '@/actions';
import booking from '@/mixins/booking';

export default {
  name: "Rent",

  mixins: [booking],

  props: {
    pickupDate: {
      type: String,
      default: null
    },

    dropDate: {
      type: String,
      default: null
    }
  },

  data: () => ({
    isCreating: false,
    flight_number: null
  }),

  computed: {
    theParams() {
      return {
        pickup_time: this.pickupDate,
        drop_time: this.dropDate
      }
    }
  },

  methods: {
    /**
     * The params for the booking.
     *
     * @return {Object}
     */
    params() {
      let {user, other} = this.$refs.bookingForm.data();

      return {
        user,
        ...{
          flight_number: this.flight_number,
          ...other,
        },
      };
    },

    /**
     * Will tell us if the booking is validated.
     *
     * @return {Boolean}
     */
    isUserValidated() {
      return this.$refs.bookingForm.validate();
    },

    /**
     * When user updates form.
     *
     * @param {Object} value
     */
    onFormUpdated(value) {
      this.$emit('form-updated', value);
    },

    /**
     * The create method, in which the api will be contained.
     *
     * @param {Object} params
     *
     * @return {Promise}
     */
    async create(params) {
      return await rent(params);
    },
  },
}
</script>