<template>
  <div class="d-flex flex-column w-100">
    <h4 class="text-uppercase">Book your Taxi</h4>

    <p>
      After your booking is placed, an admin will contact you to confirm
      the booking and price.
    </p>

    <div class="bg-white shadow-sm p-2 mt-2 rounded">
      <b-form>
        <b-form-group label="Number of passengers"
                      class="text-dark font-weight-medium text-uppercase mb-2">
          <b-form-input
            v-model="passengers"
            type="number"
            class="col-sm-12 mt-2"
            style="height: 40px"
            :min="1"
          />
        </b-form-group>

        <b-form-group
          label="Flight Number"
          class="text-dark font-weight-medium text-uppercase mb-2"
        >
          <b-form-input
            v-model="flight_number"
            class="col-sm-12 mt-2"
            style="height: 40px"
          />
        </b-form-group>
      </b-form>
    </div>

    <form-booking ref="bookingForm" class="shadow-sm p-2 rounded mt-3"/>

    <div class="w-100 mt-2">
      <b-overlay
        :show="isCreating"
        rounded
        opacity="0.6"
        spinner-small
        spinner-variant="primary"
        class="d-inline-block float-right"
      >
        <b-button @click="startCreation" variant="primary"> Book</b-button>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import { taxi } from "@/actions";
import booking from '@/mixins/booking';

export default {
  mixins: [booking],

  data: () => ({
    passengers: null,
    isCreating: false,
    flight_number: null
  }),

  methods: {
    /**
     * The params for the booking.
     *
     * @return {Object}
     */
    params() {
      let {user, other} = this.$refs.bookingForm.data();

      return {
        user,
        ...{
          no_of_passenger: this.passengers,
          flight_number: this.flight_number,
          ...other,
        },
      };
    },

    /**
     * Will tell us if the booking is validated.
     *
     * @return {Boolean}
     */
    isUserValidated() {
      return this.$refs.bookingForm.validate();
    },

    /**
     * The create method, in which the api will be contained.
     *
     * @param {Object} params
     *
     * @return {Promise}
     */
    async create(params) {
      return await taxi(params);
    },
  },
};
</script>