<template>
  <div class="d-flex flex-column w-100">
    <h4 class="text-uppercase">Book a tour with us.</h4>

    <p>
      After your booking is placed, an admin will contact you to confirm
      the booking and price.
    </p>

    <div class="bg-white shadow-sm p-2 mt-2 rounded">
      <b-form>
        <b-form-group
            label="Regions"
            class="text-dark font-weight-medium text-uppercase p-0"
        >
          <b-form-select
              v-model="selectedRegion"
              style="height: 45px"
              :options="regions"
              text-field="label"
              value-field="value"
              class="mt-2"
          />
        </b-form-group>

        <b-form-group
            label="Destinations"
            class="text-dark font-weight-medium text-uppercase p-0"
        >
          <v-select
              v-model="selectedDestinations"
              placeholder="Select your destination"
              :options="destinations"
              :loading="isSearching"
              multiple
              clear-search-on-select
              close-on-select
              clearable
          >
            <template #option="{ image, label, description }">
              <div class="d-flex flex-row">
                <img :src="image" class="col-lg-3"/>

                <div class="d-flex flex-column">
                  <span v-text="label"></span>
                  <p>{{ description }}</p>
                </div>
              </div>
            </template>
          </v-select>
        </b-form-group>

        <b-form-group
            label="Number of passengers"
            class="text-dark font-weight-medium text-uppercase mb-2"
        >
          <b-form-input
              v-model="passengers"
              type="number"
              class="col-sm-12 mt-2"
              style="height: 40px"
              :min="1"
          />
        </b-form-group>
      </b-form>
    </div>

    <form-booking ref="bookingForm" class="shadow-sm p-2 rounded mt-3"/>

    <div class="w-100 mt-2">
      <b-overlay :show="isCreating"
                 rounded
                 opacity="0.6"
                 spinner-small
                 spinner-variant="primary"
                 class="d-inline-block float-right">
        <b-button @click="startCreation"
                  variant="primary">
          Book
        </b-button>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
import booking from '@/mixins/booking';
import {searchDestinations} from "@/api/search";
import {tour} from '@/actions';

export default {
  mixins: [booking],

  components: {vSelect},

  data: () => ({
    selectedRegion: null,
    regions: [
      {value: 1, label: "North"},
      {value: 2, label: "East"},
      {value: 3, label: "West"},
      {value: 4, label: "South"},
    ],
    passengers: null,
    selectedDestinations: [],
    destinations: [],
    isSearching: false,
  }),

  watch: {
    selectedRegion() {
      this.onRegionSelected();
    },
  },

  methods: {
    /**
     * When user selects region.
     */
    async onRegionSelected() {
      this.isSearching = true;
      let {
        data: {data},
      } = await searchDestinations({
        category: this.selectedRegion,
      });

      this.destinations = data;
      this.isSearching = false;
    },

    /**
     * The params for the booking.
     *
     * @return {Object}
     */
    params() {
      let {user, other} = this.$refs.bookingForm.data();

      console.log(user, other)
      return {
        user,
        ...{
          no_of_passenger: this.passengers,
          destinations: this.selectedDestinations.map(({id}) => ({id})),
          ...other,
        },
      };
    },

    /**
     * Will tell us if the booking is validated.
     *
     * @return {Boolean}
     */
    isUserValidated() {
      return this.$refs.bookingForm.validate() && this.selectedDestinations.length > 0;
    },

    /**
     * The create method, in which the api will be contained.
     *
     * @param {Object} params
     *
     * @return {Promise}
     */
    async create(params) {
      return await tour(params);
    }
  },
};
</script>